html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(140deg, #0fb8ad, #0c6c8e);
	font-size: 2.5em;
}
header, footer {
	color: rgba(255, 255, 255, .7);
	text-align: center;
}
footer {
	font-size: .75em;
}
 
#digi-clock {
	color: rgba(255, 255, 255, .7);
	font-size: 5em;
	position: fixed;
	bottom: 55px;
	right: 80px;
	letter-spacing: 10px;
}